[run]
omit =
    */tests/*
    */migrations/*
    venv/*
    manage.py
    tests.py
    docker_manager.py
    */wsgi.py
    */asgi.py
    */admin.py
    */__init__.py
    */settings.py

[report]
# fail if coverage is below 80%
fail_under = 80